.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  height: 150px;
  width: 150px;
}
.nav-items {
  padding: 0 20px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-size: 24px;
}
.nav-items > ul > li {
  padding: 15px;
}

.search {
  margin: 10px 0;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.res-card {
  padding: 10px;
  width: 300px;
}
.res-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.res-logo {
  width: 300px;
  height: 200px;
}
.filter-btn {
  margin: 10px;
  cursor: pointer;
}
.reset-btn {
  margin: 10px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 300px;
  height: 200px;
  margin: 10px;
  background-color: #e0e0e0;
}

.login-btn {
  margin: 15px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.filter {
  margin: 10px;
  display: flex;
}

.search-btn {
  margin-left: 10px;
  cursor: pointer;
}

.user-container{
  margin: 10px;
  padding: 20px;
  border: 16px solid rgba(2, 6, 12, .0509803922);
}